*{
  font-family: "Rubik";
}
body{
  background-color: #6C5B7B;
  width:100vw;
}
footer{
  color:white;
}
.myrainbow{
  background-image:linear-gradient(to bottom right,#E2DADB,#4ECDC4,#292F36);
}
.text-rainbow{
color:linear-gradient(to bottom right, #E2DADB,#4ECDC4,#292F36);
}
.transparent{
  background:none;
  border:none;
}
.blur{
  filter:blur();
}
.make-round{
  border-radius:50%
}
.btn-link{
  color:black;
}
.group{
  border-radius: 20%;
  perspective:1px;
  outline:solid darkslategray 1px;
  
}